<h3>Sports</h3>
<ul>
  <% sports.forEach(sport => { %>
    <li>
      <%= sport.name %>
      <a href="/admin/edit-sport/<%= sport.id %>">Edit</a>
      <form action="/admin/delete-sport/<%= sport.id %>" method="POST" style="display:inline;">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% }) %>
</ul>

<h3>Sessions</h3>
<ul>
  <% sessions.forEach(session => { %>
    <li>
      <%= session.location %> - <%= session.startTime %>
      <form action="/admin/delete-session/<%= session.id %>" method="POST" style="display:inline;">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% }) %>
</ul>
