<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/navbar') %>

<h2>Session Details</h2>

<p><strong>Sport:</strong> <%= session.sport.name %></p>
<p><strong>Location:</strong> <%= session.location %></p>
<p><strong>Start Time:</strong> <%= session.startTime %></p>
<p><strong>End Time:</strong> <%= session.endTime %></p>

<% if (user.role === 'player') { %>
  <% if (session.players.includes(user.id)) { %>
    <button><a href="/session/<%= session.id %>/cancel">Cancel Session</a></button>
  <% } else { %>
    <button><a href="/session/<%= session.id %>/join">Join Session</a></button>
  <% } %>
<% } %>

<%- include('../partials/footer') %>

    
</body>
</html>